body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}

.col-md-12 .page-header {
    background-color: rgb(240, 174, 240);
    padding: 5px;
    padding-left: 40px;
    width: 100%;
    color: black;
   
}

.row .col-md-12 .nav {
    margin: 0 0 35px;
    background-color: lightgrey;
}  

.label {
    background-color: black;
    color: white;
    /* width: 370px; */
    text-align: center;
    margin: 10px 0;
    padding: 7px;
    padding-left: 11px;
    border-radius: 20px;
}

.penghitung .hitung {
    list-style: none;
    display: flex;
}

.penghitung .hitung .li {
    margin: 0 15px 0 0;
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 20px;
}

.col-md-8 {
    margin-bottom: 60px;
}

#footer {
    background-color: lightgrey;
    margin-top: 30px;
    padding: 25px 25px 0 25px;
}
.copyright {
text-align: center;
margin-top: 20px;
}

.contact-us {
    text-align: center;
    margin-bottom: 10px;
    background-color: lightgrey;
    border-radius: 20px;
    padding: 7px;
}

@media screen and  (min-width: 320px ) and (max-width: 426px) {
    .textarea{
        width: 300px;
    }
    .penghitung .hitung {
        list-style: none;
        display: flex;
        flex-direction: column;
    }
}
@media screen and  (min-width: 768px ) and (max-width: 1024px) {
    .textarea{
        width: 450px;
    }
}